@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;1,300;1,400&family=Inter:wght@300;400;500;600&display=swap');
@import "tailwindcss";

@theme {
  --font-serif: "Cormorant Garamond", serif;
  --font-sans: "Inter", sans-serif;
  
  --color-paper: #fdfcf8;
  --color-ink: #2c2c2c;
  --color-sage: #6b705c;
  --color-clay: #b7b7a4;
  --color-warm: #ffe8d6;
}

body {
  background-color: var(--color-paper);
  color: var(--color-ink);
  font-family: var(--font-sans);
}

.serif {
  font-family: var(--font-serif);
}
